<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Demonstration de vidéo</h1>
    <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    	<p>Id  : <input type="text" th:field="*{id}" /></p>
        <p> message : <input type="text" th:field="*{content}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
            <!-- <p  id='ee' th:text="'id: ' + ${responsee}" /> -->
    
    
    <script>
    
    </script>
    
</body>
</html>


